.buttons, .startButton, .viewGameBoard, .viewRules {
  border: 2px solid rgb(130, 160, 209);
  font-weight: bolder;
  text-align: center;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 5px 3px #787878;
}
.buttons:hover, .startButton:hover, .viewGameBoard:hover, .viewRules:hover {
  transform: scale(80%);
  text-decoration: none;
}
.buttons:active, .startButton:active, .viewGameBoard:active, .viewRules:active {
  background-color: #f97b88;
  box-shadow: 2px 1px 1px red;
  transform: translateY(2px);
}

.startButton, .viewGameBoard, .viewRules {
  background-color: #0e86c2;
  width: 10%;
  padding: 5px;
  font-size: 12px;
  color: #000000;
  border-radius: 5px 20px;
  float: right;
  margin-right: 175px;
  margin-top: -15px;
}

.buttons {
  display: grid;
  display: inline-block;
  background-color: #006699;
  font-size: 28px;
  border-radius: 25px 3px;
  margin-left: 100px;
  padding: 5px;
}

/* Cascading Style Sheet   */
h1 {
  font-family: "Rokkitt", "Times New Roman", "Times", "serif";
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-Size: 30px;
  color: rgb(205, 161, 38);
  line-height: 10px;
}

h2 {
  font-family: "Rokkitt", "Times New Roman", "Times", "serif";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
}

.pageContent {
  background-color: #06789b;
  min-width: 1080px;
  min-height: 750px;
  max-height: 1920px;
}

.gameSelect {
  display: flex;
  font-family: "Rokkitt", "Times New Roman", "Times", "serif";
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  width: 350px;
  border: 5px;
  margin: 0 auto auto 375px;
}
.gameSelect select {
  font-family: "Rokkitt", "Times New Roman", "Times", "serif";
  font-size: 16px;
  font-weight: bolder;
}

/* Configure the Grid layout for the Suduko board */
/* The board is comprised of 9 columns, 9 rows, and 81 small boxes */
#top-row, #middle-row, #bottom-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  width: 65%;
  height: 100px;
  margin-left: 215px;
}

.col {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0px;
  box-sizing: content-box;
  border: 1px solid rgb(1, 1, 1);
  box-sizing: border-box;
  width: 100%;
}

/* Add grid lines inside each grid box */
.col > * {
  border: 1px solid black;
}

/* Set the style for the input fields  */
input {
  text-align: center;
  border: 2px;
  font-family: "Lucida Console", "Courier", "monospace";
  font-size: 20px;
  font-weight: bold;
  height: 25px;
  width: 100%;
  margin: 0;
  background: transparent;
}

/* Change the background of a selected input field to yellow */
input:focus {
  background-color: rgb(248, 248, 73);
}

/* Remove scroll arrows from input fields*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Set the bsckground color for the grids */
#top_left_grid, #top_right_grid, #middle_center_grid,
#bottom_left_grid, #bottom_right_grid {
  background-color: #c0dde6;
}

/* Set the bsckground color for the grids */
#top_center_grid, #middle_left_grid, #middle_right_grid, #bottom_center_grid {
  background-color: #e6f1f5;
}

.howtoplay {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  margin-left: 215px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", "sans-serif";
  width: 65%;
  text-align: justify;
  font-size: 16px;
}

/* Buttons at the bottom of the game window used to fill the blank spaces on the board */
/* The StartButton button runs the StartGame function which loads the form in the initial or start state */
/* Added animation to the buttons */
.buttons:hover, .startButton:hover, .viewGameBoard:hover, .viewRules:hover {
  background-color: #3b6dec;
}

/* Added color change when the mouse hovers over button */
.buttons:active, .startButton:active, .viewGameBoard:active .viewRules:active {
  background-color: #f86170;
  box-shadow: 10px 5px 5px red; /*#666;*/
  transform: translateY(2px);
}/*# sourceMappingURL=scripts.css.map */