// @use "utilities";
@import "config";

%allbtn {
    border: 2px solid rgb(130, 160, 209);
    font-weight: bolder;
    text-align: center;
    color: $buttonfontcolor;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 5px 3px #787878;

    &:hover {
        transform: scale(80%);
        text-decoration: none;
    }

    &:active {
        background-color: #f97b88;
        box-shadow: 2px 1px 1px red;
        transform: translateY(2px);
    }
}

%gamebtn {
    @extend %allbtn;
    background-color: $gamebutton;
    width: 10%;
    padding: 5px;
    font-size: 12px;
    color: $buttonfontcolor;
    border-radius: 5px 20px;
    float: right;
    margin-right: 175px;
    margin-top: -15px;
}

%numbbtn {
    @extend %allbtn;
    display: grid;
    display: inline-block;
    background-color: $numbbutton;
    font-size: 28px;
    border-radius: 25px 3px;  
    margin-left: 100px;
    padding: 5px;
}
