$font-stack: "Rokkitt", "Times New Roman", "Times", "serif"; 
$pfont-stack: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
$input-font-stack: "Lucida Console", "Courier", "monospace";
$light-color: #bbccee;
$primary-color: #06789b;
$secondary-color: #7fb2cc;
$numbbutton: #006699;
$buttonfontcolor: #000000;
$gamebutton: #0e86c2
 

