@import "btnConfig";
// @use "utilities";
@import "config";


/* Cascading Style Sheet   */

h1 {
    font-family: $font-stack;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-Size: 30px;
    color: rgb(205, 161, 38);
    line-height: 10px;
}

h2 {
    font-family: $font-stack;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}

.pageContent {
    background-color: $primary-color;
    min-width: 1080px;
    min-height: 750px;
    max-height: 1920px;
}

// Dropdown to select between games 1 - 4
.gameSelect {
    display: flex;
    font-family: $font-stack;
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    width: 350px;
    border: 5px; 
    margin: 0 auto auto 375px;

    select {
        font-family: $font-stack;
        font-size: 16px;
        font-weight: bolder;
    }
}


/* Configure the Grid layout for the Suduko board */
/* The board is comprised of 9 columns, 9 rows, and 81 small boxes */
#top-row, #middle-row, #bottom-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    width: 65%;
    height: 100px;
    margin-left: 215px; 
}  
 
 .col {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0px;
    box-sizing: content-box;
    border: 1px solid rgba(1, 1, 1);
    box-sizing: border-box;
    width: 100%;
 }

 /* Add grid lines inside each grid box */
 .col > * {    
    border: 1px solid black;    
    }

/* Set the style for the input fields  */
input { 
    text-align: center; 
    border: 2px;    
    font-family: $input-font-stack;  
    font-size: 20px;    
    font-weight: bold;  
    height: 25px;
    width:  100%;   
    margin: 0;  
    background: transparent;
}

/* Change the background of a selected input field to yellow */  
input:focus {   
    background-color: rgb(248, 248, 73);    
}

/* Remove scroll arrows from input fields*/ 
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
} 

/* Set the bsckground color for the grids */
#top_left_grid, #top_right_grid, #middle_center_grid, 
#bottom_left_grid, #bottom_right_grid {
    background-color: #c0dde6; 
}

/* Set the bsckground color for the grids */
#top_center_grid, #middle_left_grid, #middle_right_grid, #bottom_center_grid {
    background-color: #e6f1f5;  
}


// Set the howtoplay text-box to wrap the contained text and
// maintain the. Also set the text box to have the same width as
// the game board with support for popular browsers
.howtoplay {     // [type="text"]
    white-space: pre-wrap; // CSS3
    white-space: -moz-pre-wrap;  // Firefox
    white-space: -o-pre-wrap; // Opera 7
    word-wrap: break-word; // I.E.
    margin-left: 215px;
    font-family: $pfont-stack;
    width: 65%;
    text-align: justify;
    font-size: 16px;
}

/* Buttons at the bottom of the game window used to fill the blank spaces on the board */
.buttons {
    @extend %numbbtn;
} 

/* The StartButton button runs the StartGame function which loads the form in the initial or start state */
.startButton, .viewGameBoard, .viewRules {
    @extend %gamebtn;
}

/* Added animation to the buttons */
.buttons:hover, .startButton:hover, .viewGameBoard:hover, .viewRules:hover   {
    background-color: #3b6dec
}

/* Added color change when the mouse hovers over button */
.buttons:active, .startButton:active, .viewGameBoard:active .viewRules:active {
    background-color: #f86170;
    box-shadow: 10px 5px 5px red; /*#666;*/
    transform: translateY(2px);
}


